<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: head_fragment(title='level1another', links = ~{::link}, scripts=~{::script})">
    <title>title</title>
</head>

<body>
<div th:replace="common :: header_fragment"></div>

<p><a th:text="${url}" th:href="${url}">URL</a>に対してGETリクエストを送信してみる</p>


<table class="table_border">
    <tbody>
    <tr>
        <td>id</td>
        <td><p th:text="${user.id}"></p></td>
    </tr>
    <tr>
        <td>name</td>
        <td><p th:text="${user.name}"></p></td>
    </tr>
    <tr>
        <td>username</td>
        <td><p th:text="${user.userName}"></p></td>
    </tr>
    <tr>
        <td>lat</td>
        <td><p th:text="${user.address.geo.lat}"></p></td>
    </tr>
    <tr>
        <td>lng</td>
        <td><p th:text="${user.address.geo.lng}"></p></td>
    </tr>
    </tbody>
</table>

</body>

</html>
