<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: head_fragment(title='level1index', links = ~{::link})">
    <title>title</title>
</head>

<body>
<!-- commonよりheader呼び出し -->
<div th:replace="common :: header_fragment"></div>

<p><a th:text="${url}" th:href="${url}">URL</a>に対してGETリクエストを送信してみる</p>

<table class="table_border">
    <tbody>
    <tr>
        <td>userID</td>
        <td><p th:text="${post.userId}"></p></td>
    </tr>
    <tr>
        <td>id</td>
        <td><p th:text="${post.id}"></p></td>
    </tr>
    <tr>
        <td>title</td>
        <td><p th:text="${post.title}"></p></td>
    </tr>
    <tr>
        <td>body</td>
        <td><p th:text="${post.body}"></p></td>
    </tr>
    </tbody>
</table>
</body>

</html>
