<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title>level1Index</title>

</head>

<body>

<h1>index page</h1>
<p>this is index page</p>
<!--Controllerから値を受け取る-->
<p th:text="${msg}"></p>
<!--とりあえず遷移用ボタン-->
<button onclick="location.href='http://localhost:8080/index'">goto index</button>
<button onclick="location.href='http://localhost:8080/other'">goto another</button>
<button onclick="location.href='http://localhost:8000/other'">goto other</button>

</body>

</html>