<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: head_fragment(title='level3other', links = ~{::link}, scripts=~{::script})">
    <title>title</title>
    <script type="text/javascript" th:src="@{/js/asynchronousPro.js}"></script>
</head>

<body>

<div th:replace="common :: header_fragment"></div>

<button onclick="getAPIData()" class="bg_lightpink">JavascriptでAPIからデータを取得する</button>

<table class="table_border">
    <tbody>
    <tr>
        <td>userID</td>
        <td><p id="userId"></p></td>
    </tr>
    <tr>
        <td>id</td>
        <td><p id="id"></p></td>
    </tr>
    <tr>
        <td>title</td>
        <td><p id="title"></p></td>
    </tr>
    <tr>
        <td>body</td>
        <td><p id="body"></p></td>
    </tr>
    </tbody>
</table>
</body>
</html>
